@import '../../../styles.scss';

.posts-cont {
  width: 100%;

  &__add-btn {
    position: fixed;
    margin: 20px;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    border-radius: 45px;
    outline: none;
    border: 0;
    background: url(../../images/add.svg) $dodger-blue no-repeat center;
    background-size: 60%;
    cursor: pointer;

    &:hover {
      background-color: $picton-blue;
    }

    &:active {
      background-color: darken($picton-blue, 20%);
    }
  }

  &__post-list {
    border: 1px solid #87abd1;
    padding: 10px;
    margin-bottom: 15px;
  }

  &__list-items {
    border-bottom: 1px solid #87abd1;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__action-btn {
    display: flex;

    p {
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
