<div class="posts-cont">
  <button class="posts-cont__add-btn" type="button" (click)="formController('create')"></button>
  <div *ngFor="let post of posts; let i = index;" class="posts-cont__post-list">
    <div class="posts-cont__header">
      <div>
        <h3>{{post.title}}</h3>
        <p>likes: {{post.likes}}</p>
      </div>
      <div class="posts-cont__action-btn">
        <p class="posts-cont__action-btn__delete-btn" (click)="deletePost(post.id, i)">
          Delete
        </p>
        <p class="posts-cont__action-btn__adit-btn" (click)="formController('update', post, i)">
          Edit
        </p>
      </div>
    </div>
    <a routerLink="/news_page/{{post.id}}" class="posts-cont__list-items" (click)="addPostToStore(post)">
      <div class="posts-cont__body">
        <p>
          {{post.description}}
        </p>
      </div>
    </a>
  </div>
</div>
<div *ngIf="formShow">
  <edit-form (Post)="postAction($event)" [status]="status" [postInputData]="postInputData"></edit-form>
</div>
