$dodger-blue: #19B5FE;
$picton-blue: #22A7F0;


$iris-color: #763568;
$navy-blue-color: #003171;
$hanada: #044F67;
$true-red: #8F1D21;
$monza: #CF000F;
$lynch: #92b0b3;
$studio: #8E44AD;


$mountain-meadow: #33cc99;
$bright-lavender: #AC91EA;
$liberty: #5558AA;
$english-vermillion: #C64141;
$silver-sand: #BDC3C7;
$silver-light: #c0c0c0;
$eerie-black: #181819;
$lynch: #92b0b3;
$studio: #673ab7;
