#appContainer {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.post-line-container {
  width: 100%;
  display: flex;
  justify-content: center;

  &__line {
    width: 1440px;

    @media(max-width: 1920px) {
      width: 768px;
    }

    @media(max-width: 1200px) {
      width: 540px;
    }

    @media(max-width: 990px) {
      width: 460px;
    }

    @media(max-width: 768px) {
      width: calc(100% - 30px);
      margin: 0 15px;
    }

    @media(max-width: 375px) {
      width: calc(100% - 20px);
      margin: 0 10px;
    }
  }
}
