<div class="edit-form"
     [ngClass]="{'edit-form--active': isOpen}">
  <div class="edit-form__background"
       [ngClass]="{'edit-form__background--active': isOpen,
                   'edit-form__background--show': isShow}"></div>
  <div class="edit-form__new-post__form"
       [ngClass]="{'edit-form__new-post__form--active': isOpen,
                   'edit-form__new-post__form--show': isShow,
                   'edit-form__new-post__form--full': fullEditor}">
    <div class="edit-form__new-post__form__title">
       <span>create post</span>
    </div>

    <header-steps *ngIf="!fullEditor" class="edit-form__new-post__header" (goToStep)="goToStep($event)" [options]="headerOptions"></header-steps>

    <div class="edit-form__new-post__form__steps-container"
         [ngClass]="{ 'edit-form__new-post__form__steps-container--first': headerOptions.firstStep,
         'edit-form__new-post__form__steps-container--second': headerOptions.secondStep,
         'edit-form__new-post__form__steps-container--third': headerOptions.thirdStep }">
      <section class="edit-form__new-post__form__steps-container__item">
        <firsr-step-creating (firstStepData)="firstStepData($event)"></firsr-step-creating>
      </section>
      <section class="edit-form__new-post__form__steps-container__item">
        <second-step-creating (secondStepData)="secondStepData($event)"></second-step-creating>
      </section>
      <section class="edit-form__new-post__form__steps-container__item"
        [ngClass]="{'edit-form__new-post__form__steps-container__item--full': fullEditor}">
        <third-step-creating
          (thirdStepData)="thirdStepData($event)"
          [fullscreen]="fullEditor">
        </third-step-creating>
      </section>
    </div>

    <div *ngIf="!fullEditor" [ngClass]="{'edit-form__step-button-container--active': isValid}" class="edit-form__step-button-container">
      <button (click)="stepsControl()" md-button>{{action}}</button>
    </div>
  </div>
  <button md-fab *ngIf="headerOptions.thirdStep"
    [ngClass]="{'edit-form__full-btn--active': isOpen}"
    class="edit-form__full-btn" type="button"
    ><md-icon>zoom_out_map</md-icon>
  </button>
</div>
