@import '../../../styles.scss';

.menu-container {
  position: fixed;
  width: 100px;
  height: 98%;
  top: 0;
  padding: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  @include default-shadow();

  @media(max-width: 992px) {
    width: 100%;
    height: 50px;
    z-index: 100;
  }

  &__account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__user-name {
      text-align: center;

      p {
        color: $eerie-black;
        margin: 0 0 0 2px;
        line-height: 1.3;
        font-family: Helvetica, sans-serif;
      }
    }

    &__user-img {
      width: 75px;
      height: 75px;
      margin-right: 10px;
      border-radius: 100px;
      overflow: hidden;
      border-color: transparent;
      margin-bottom: 15px;
      @include default-shadow();

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    div {
      height: 30px;
      margin-top: 25px;
    }

    a {
      cursor: pointer;

      i {
        font-size: 30px;
        color: $silver-sand;
        transition: all ease-in-out 0.3s;

        &:hover {
          color: darken($silver-sand, 20%);
          transition: all ease-in-out 0.3s;
        }

        &:active {
          color: darken($silver-sand, 40%);
        }
      }
    }
  }

  &__account-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    &__log-in,
    &__sign-up {
      a {
        font-family: Helvetica;
        text-transform: uppercase;
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;

        i {
          margin-right: 7px;
          font-size: 20px;
        }
      }
    }

    &__log-out {
      i {
        font-size: 38px;
      }
    }

    a {
      margin-top: 12px;
      cursor: pointer;
      color: $silver-sand;
      transition: all ease-in-out 0.3s;

      i {
        color: $silver-sand;
      }

      &:hover {
        transition: all ease-in-out 0.3s;
        color: darken($silver-sand, 20%);

        i {
          color: darken($silver-sand, 20%);
        }
      }

      &:active {
        color: darken($silver-sand, 40%);

        i {
          color: darken($silver-sand, 40%);
        }
      }
    }
  }
}

.login-form {
  position: fixed;
  width: 350px;
  height: 220px;
  margin: auto;
  padding: 15px;
  left: 0;
  top: 150%;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #fff;
  overflow: hidden;
  border-radius: 7px;
  transition: all ease-out .3s;
  @include default-shadow();

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &--active {
    top: 0;
    transition: all ease-in .3s;
  }
}
